{% load static %}
<!DOCTYPE html>
<html lang="el">

<head>

    <!-- Character Encoding -->
    <meta charset="UTF-8">

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <!-- Title -->
    <title>{% block title %}Platform Name{% endblock %}</title>

    <!-- SEO -->
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'homepage/images/favicon.ico' %}">

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'homepage/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/logo.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/main_box.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/filters_cards.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/popup_card.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/reveal.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/show_video.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/show_training_video.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/second_row_popup.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
    {% block extra_head %}{% endblock %}


</head>

<body>
    
    <header>
        {% include 'homepage/components/logo.html' %}
        {% include 'homepage/components/search.html' %}
    </header>

    
    {% include 'homepage/components/buttons.html' %}
    {% include 'homepage/components/messages.html' %}
    
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>

    </footer>
    
    <script src="{% static 'homepage/javascript/message.js' %}"></script>
    <script src="{% static 'homepage/javascript/cards_window.js' %}"></script>
    <script src="{% static 'homepage/javascript/filters_cards.js' %}"></script>
    <script src="{% static 'homepage/javascript/filters_cards_topics.js' %}"></script>
    <script src="{% static 'homepage/javascript/popup_card_training.js' %}"></script>
    <script src="{% static 'homepage/javascript/popup_card_school.js' %}"></script>
    <script src="{% static 'homepage/javascript/main_box.js' %}"></script>
    <script src="{% static 'homepage/javascript/reveal.js' %}"></script>
    <script src="{% static 'homepage/javascript/second_row_popup.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>

</html>