{% extends 'homepage/base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

    <div id="school-section" class="reveal">

        {% include 'homepage/components/filters_school_section.html' %}

    </div>

    <div id="school-main-box" class="main-box">
        {% include 'homepage/components/school_cards.html' %}
    </div>

    {% if trainings %}

        <div id="training-section" class="reveal">

            {% include 'homepage/components/filters_training_cards.html' %}

        </div>

        <div id="training-main-box" class="main-box">
            {% include 'homepage/components/training_cards.html' %}
        </div>

    {% endif %}

    
    {% include 'homepage/components/popup_school_cards.html' %}

    {% include 'homepage/components/popup_training_cards.html' %}

    <div class="information-section reveal">
        {% include 'homepage/components/title_for_legal_cards.html' %}
    </div>

    <div class="information-section reveal">
        {% include 'homepage/components/legal_cards_popup.html' %}
    </div>

    <div class="reveal">
        {% include 'homepage/footer.html' %}
    </div>



{% endblock %}