<div class="filters">

    <!-- STEP 1 -->

    <div class="filter-step">

        <h3 class="filter-title">
            1. Επιλέξτε Κατηγορία Επιμόρφωσης
        </h3>

        <div class="filter-container" id="topics-level-container">

            {% for value, label in topics_categories %}

                <button class="filter-btn" data-level="{{ value }}">
                    {{ label }}
                </button>

            {% endfor %}

        </div>

    </div>

    <div class="filters-row">

        <!-- STEP 2 -->

        <div class="filter-step hidden" id="topics-subject-step">

            <h3 class="filter-title">
                2. Επιλέξτε πρόγραμμα
            </h3>

            <div class="filter-container" id="topics-subject-container">

            </div>

        </div>

        <!-- STEP 3 -->

        <div class="filter-step hidden" id="topics-class-step">

            <h3 class="filter-title">
                3. Επιλέξτε επίπεδο
            </h3>

            <div class="filter-container" id="topics-class-container">

            </div>

        </div>

    </div>

</div>

<div id="topics-empty-message" class="empty-message">

    Επιλέξτε κατηγορία, πρόγραμμα και επίπεδο.

</div>