{% load static %}

{% if user.is_authenticated %}

    <form method="get" class="search-form">

        <input
            type="search"
            name="q"
            class="search-input"
            placeholder="Search..."
            autocomplete="off">

        <button type="submit" class="search-button">
            <img src="{% static 'homepage/icons/search.svg' %}" alt="Search">
        </button>

    </form>

    {% else %}

    <form method="get" class="search-form nologin">

        <input
            type="search"
            name="q"
            class="search-input"
            placeholder="Search..."
            autocomplete="off">

        <button type="submit" class="search-button">
            <img src="{% static 'homepage/icons/search.svg' %}" alt="Search">
        </button>

    </form>

{% endif %}