{% load static %}
{% if user.is_authenticated %}
    <form action="{% url 'homepage:search' %}" method="GET" class="search-form">

        <input
            type="search"
            name="q"
            class="search-input"
            placeholder="Search..."
            autocomplete="off">

        <button type="submit" class="search-button">
            <img src="{% static 'homepage/icons/search.svg' %}"
                alt="Search">
        </button>

    </form>
{% else %}
    <form action="{% url 'homepage:search' %}" method="GET" class="search-form nologin">

            <input
                type="search"
                name="q"
                class="search-input"
                placeholder="Search..."
                autocomplete="off">

            <button type="submit" class="search-button">
                <img src="{% static 'homepage/icons/search.svg' %}"
                    alt="Search">
            </button>

        </form>
{% endif %}
