<div class="main_card">

    {% for topic in topics %}

        <div class="card topics-card"

            data-id="{{ topic.id }}"
            data-category="{{ topic.category }}"
            data-topics="{{ topic.title }}"
            data-level="{{ topic.level }}"

            data-title="{{ topic.title }}"
            data-description="{{ topic.description }}"
            data-price="{{ topic.price }}">

            <img src="{{ topic.image.url }}" alt="{{ topic.alt }}">

            <div class="card-body">

                <h2>{{ topic.title }}</h2>

                <div class="book-info">

                    <span class="badge">
                        {{ topic.get_category_display }}
                    </span>

                    <h3>
                        Επίπεδο: {{ topic.get_level_display }}
                    </h3>

                </div>

                <p class="has-tooltip"
                    data-tooltip="{{ topic.description|striptags|escape }}">

                    {{ topic.description }}

                </p>

                <div class="card-footer">

                    <div class="prices">

                        {% if topic.is_free %}

                            <div class="price-item">
                                <strong>Δωρεάν</strong>
                            </div>

                        {% else %}

                            <div class="price-item">
                                <medium>Πλήρες πρόγραμμα</medium>
                                £{{ topic.price }}
                            </div>

                        {% endif %}

                    </div>

                    <button class="topics-details-btn">
                        Περιεχόμενα
                    </button>

                </div>

            </div>

        </div>

    {% endfor %}

</div>