<div class="main_card">

    {% for topic in topics %}

        <div class="card training-card"

            data-id="{{ topic.id }}"
            data-category="{{ topic.category }}"
            data-training="{{ topic.title }}"
            data-level="{{ topic.level }}"

            data-title="{{ topic.title }}"
            data-description="{{ topic.description }}"
            data-price="{{ topic.price }}">

            <a href="#">

                <img src="{{ topic.image }}" alt="{{ topic.alt }}">

                <div class="card-body">

                    <h2>{{ topic.title }}</h2>

                    <div class="book-info">

                        <span class="badge">
                            {{ topic.category }}
                        </span>

                        <h3>
                            {{ topic.level }}
                        </h3>

                    </div>

                    <p class="has-tooltip"
                       data-tooltip="{{ topic.description|striptags|escape }}">

                        {{ topic.description }}

                    </p>

                    <div class="card-footer">

                        <div class="prices">

                            {% if topic.is_free %}

                                <div class="price-item">
                                    <strong>Δωρεάν</strong>
                                </div>

                            {% else %}

                                <div class="price-item">
                                    <small>Πλήρες πρόγραμμα</small><br>
                                    €{{ topic.price }}
                                </div>

                            {% endif %}

                        </div>

                        <button class="training-details-btn">
                            Περιεχόμενα
                        </button>

                    </div>

                </div>

            </a>

        </div>

    {% endfor %}

</div>